{% extends 'base.html' %} {% block content %}
<main>
  <section class="container content2">
    <div class="grid2">
      <div class="project">
        <div class="picture">
          <img
            src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="Project image"
          />
        </div>
        <h3>Space Ware</h3>
        <div class="description">
          <h4>Description:</h4>
        </div>
        <div class="technologies">
          <h4>Technologies:</h4>
        </div>
        <div class="buttons">
          <a href="#" class="code git">View Code</a>
          <a href="#" class="code live">Live Code</a>
        </div>
      </div>

      <div class="project">
        <div class="picture">
          <img
            src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="Project image"
          />
        </div>
        <h3>Space Ware</h3>
        <div class="description">
          <h4>Description:</h4>
        </div>
        <div class="technologies">
          <h4>Technologies:</h4>
        </div>
        <div class="buttons">
          <a href="#" class="code git">View Code</a>
          <a href="#" class="code live">Live Code</a>
        </div>
      </div>

      <div class="project">
        <div class="picture">
          <img
            src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="Project image"
          />
        </div>
        <h3>Space Ware</h3>
        <div class="description">
          <h4>Description:</h4>
        </div>
        <div class="technologies">
          <h4>Technologies:</h4>
        </div>
        <div class="buttons">
          <a href="#" class="code git">View Code</a>
          <a href="#" class="code live">Live Code</a>
        </div>
      </div>

      <div class="project">
        <div class="picture">
          <img
            src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
            alt="Project image"
          />
        </div>
        <h3>Space Ware</h3>
        <div class="description">
          <h4>Description:</h4>
        </div>
        <div class="technologies">
          <h4>Technologies:</h4>
        </div>
        <div class="buttons">
          <a href="#" class="code git">View Code</a>
          <a href="#" class="code live">Live Code</a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
