{% extends 'base.html' %}
{% block content %}
<main>
        <section class="container content2">
            <h1>About</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum voluptates pariatur mollitia quod aliquam dicta voluptatibus architecto eius obcaecati, aliquid impedit ipsum facilis, sit dolores. Libero repellendus repellat officia repudiandae! 
    
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quae reprehenderit magnam delectus a dolore dolor, officiis est hic libero iure eum rerum, eaque magni earum deleniti, optio ab ex!
            </p>
        </section>
    </main>
{% endblock %}
