{% extends 'base.html' %} {% block content %}
<main>
  <section class="container content3">
    <div class="contacts">
      <h2>Contacts</h2>
      <table class="table">
        <tr>
          <td>Name:</td>
          <td>Patrik Duda</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>+420 606 275 393</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>patrikduda94@gmail.com</td>
        </tr>
        <tr>
          <td>Linkedin:</td>
          <td><a href="#">view Linkedin</a></td>
        </tr>
        <tr>
          <td>CV:</td>
          <td><a href="#">view CV</a></td>
        </tr>
      </table>
    </div>
    <div class="contact-form">
      <h2>Contact me</h2>
      <form class="form" action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        <div class="form-control">
          <label for="name">Your name</label>
          <input type="text" id="name" name="name" placeholder="Your name" required/>
        </div>
        <div class="form-control">
          <label for="email">Your email</label>
          <input type="email" id="email" name="email" placeholder="Your email" required />
        </div>
        <div class="form-control">
          <label for="message">Your message</label>
          <textarea
            name="message"
            id="message"
            rows="20"
            placeholder="Type message"
            required
          ></textarea>
        </div>
        <div class="form-control">
            <input type="submit" value="Submit">
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="answer">
          <p> {{ message }} </p>
        </div>
        {% endfor %}
        {% endif %}

      </form>
    </div>
  </section>
</main>
{% endblock %}
