{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
      <div class="hero">
        <div class="container">
          <img src="{% static 'images/profile-grey.jpg' %}" alt="Profile photo" />
          <h1>Welcome To Website</h1>
          <p>
            Hi, my name is Patrik Duda. I am a junior programmer with electrical
            engineering background.
          </p>
        </div>
        <div class="scroll-arrow">
        <svg width="30px" height="20px">
          <path
            stroke="#ffffff"
            fill="none"
            stroke-width="2px"
            d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "
          ></path>
        </svg>
      </div>
      </div>
      <section class="container content">
        <h2>My skills</h2>
        <div class="grid">

          {% for skill in skills %}
          <div class="skill">
            <div class="outer">
              <div class="inner">
                <p class="number">{{skill.skill}}%</p>
              </div>
              <svg class="svg">
                <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#008080" />
                    <stop offset="100%" stop-color="#004c4c" />
                  </linearGradient>
                </defs>
                <circle cx="150" cy="150" r="135" stroke-linecap="round" class="{{skill.add_class}}" />
                <style>
                  @media (prefers-reduced-motion: no-preference) {
                    .animation .circle{{skill.id}} {
                      animation: anim{{skill.id}} {{skill.duration}}s linear forwards;
                    }
                  }
                  @keyframes anim{{skill.id}} {
                      100% {
                          stroke-dashoffset: {{ skill.calc_skill }};
                      }
                  }
                </style>
              </svg>
            </div>
            <h3 class="title">{{skill.title}}</h3>
          </div>
        {% endfor %}

      </section>
    </main>
{% endblock %}
