{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script
      src="https://kit.fontawesome.com/fa0b132631.js"
      crossorigin="anonymous"
    ></script>
    <title>Patrik Duda</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="container">
          <div class="collapsible">
            <i class="fas fa-bars active"></i>
            <i class="fas fa-times"></i>
          </div>
          <div class="bar-icons">
            <a href="https://github.com/dudapa" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
          <ul class="menu">
            <li> <a href="{% url 'index' %}"
                {% if '/' == request.path %}
                class="current"
                {% endif %}>Home</a>
            </li>
            <li><a href="{% url 'about' %}"
                {% if 'about' in request.path %}
                class="current"
                {% endif %}>About</a>
            </li>
            <li><a href="{% url 'projects' %}" 
                {% if 'projects' in request.path %}
                class="current"
                {% endif %}>Projects</a>
            </li>
            <li><a href="{% url 'contacts' %}"
                {% if 'contacts' in request.path %}
                class="current"
                {% endif %}>Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {% block content %}
     <main>
      <section class="container content2">
        <div class="grid2">
          <div class="project">
            <div class="picture">
              <img
                src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Project image"
              />
            </div>
            <h3>Space Ware</h3>
            <div class="description">
              <h4>Description:</h4>
            </div>
            <div class="technologies">
              <h4>Technologies:</h4>
            </div>
            <div class="buttons">
              <a href="#" class="code git">View Code</a>
              <a href="#" class="code live">Live Code</a>
            </div>
          </div>

          <div class="project">
            <div class="picture">
              <img
                src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Project image"
              />
            </div>
            <h3>Space Ware</h3>
            <div class="description">
              <h4>Description:</h4>
            </div>
            <div class="technologies">
              <h4>Technologies:</h4>
            </div>
            <div class="buttons">
              <a href="#" class="code git">View Code</a>
              <a href="#" class="code live">Live Code</a>
            </div>
          </div>
        
          <div class="project">
            <div class="picture">
              <img
                src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Project image"
              />
            </div>
            <h3>Space Ware</h3>
            <div class="description">
              <h4>Description:</h4>
            </div>
            <div class="technologies">
              <h4>Technologies:</h4>
            </div>
            <div class="buttons">
              <a href="#" class="code git">View Code</a>
              <a href="#" class="code live">Live Code</a>
            </div>
          </div>

           <div class="project">
            <div class="picture">
              <img
                src="https://images.unsplash.com/photo-1613160717888-faa82cdb8a94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                alt="Project image"
              />
            </div>
            <h3>Space Ware</h3>
            <div class="description">
              <h4>Description:</h4>
            </div>
            <div class="technologies">
              <h4>Technologies:</h4>
            </div>
            <div class="buttons">
              <a href="#" class="code git">View Code</a>
              <a href="#" class="code live">Live Code</a>
            </div>
          </div>
        </div> 
      </section>
    </main>
    {% endblock %}

    <footer>
      Copyright &copy;
      <span class="year"></span>
    </footer>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
