{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script defer src="{% static 'script.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/fa0b132631.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="nav">
        <div class="container">
          <div class="collapsible">
            <i class="fas fa-bars active"></i>
            <i class="fas fa-times"></i>
          </div>
          <div class="bar-icons">
            <a href="https://github.com/dudapa" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
          <ul class="menu">
            <li><a href="#skills" class="skills-nav">Skills</a></li>
            <li><a href="#projects" class="projects-nav">Projects</a></li>
            <li><a href="#aboutme" class="aboutme-nav">About</a></li>
            <li><a href="#contacts" class="contacts-nav">Contact</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="hero" id="hero">
        <div class="container">
          <img src="{% static 'images/profile-grey.jpg' %}" alt="Profile photo" />
          <h1>Welcome To My Portfolio</h1>
          <p>
            Hi, my name is Patrik Duda. I am a self-taught programmer with electrical
            engineering background.
          </p>
        </div>
        <div class="scroll-arrow">
        <svg width="30px" height="20px">
          <path
            stroke="#ffffff"
            fill="none"
            stroke-width="2px"
            d="M2.000,5.000 L15.000,18.000 L28.000,5.000 "
          ></path>
        </svg>
      </div>
      </div>

      <section id="skills" class="skills">
        <h1>My Skills</h1>
        <div class="grid-wrapper">
          <div class="skills-grid">

            {% for skill in skills %}
            <div class="skill">
              <div class="outer">
                <div class="inner">
                  <p class="number">{{ skill.value }}%</p>
                </div>
                <svg class="svg">
                  <defs>
                    <linearGradient id="GradientColor">
                      <stop offset="0%" stop-color="#008080" />
                      <stop offset="100%" stop-color="#004c4c" />
                    </linearGradient>
                  </defs>
                  <circle cx="150" cy="150" r="135" stroke-linecap="round" class="{{skill.add_class}}" />
                  <style>
                    @media (prefers-reduced-motion: no-preference) {
                      .animation .circle{{skill.id}} {
                        animation: anim{{skill.id}} {{skill.duration}}s linear forwards;
                      }
                    }
                    @keyframes anim{{skill.id}} {
                        100% {
                            stroke-dashoffset: {{skill.calc_skill}};
                        }
                    }
                  </style>
                </svg>
              </div>
              <h3 class="title">{{ skill.name }}</h3>
            </div>
            {% endfor %}

        </div>
      </section>


      <section id="projects" class="projects">
        <h1>Projects</h1>
        <div class="grid-wrapper">

          <div class="projects-grid">
            
            {% for project in projects %}
            <div class="project">
              <div class="picture">
                <img
                  src="{{ project.project_image.url }}"
                  alt="Project image"
                />
              </div>
                <h3>{{ project.title }}</h3>
                <div class="description">
                  <h4>Description:</h4>
                  <p>{{ project.description }}</p>
                </div>
                <div class="technologies">
                  <h4>Technologies:</h4>
                  <p>{{ project.technologies }}</p>
                </div>
                <div class="buttons">
                  <a href="{{ project.view_code }}" class="code git" target="_blank">View Code</a>
                  {% if project.live_code %}
                  <a href="{{ project.live_code }}" class="code live" target="_blank">Live Code</a>
                  {% endif %}
                </div>
            </div>
            {% endfor %}

        </div>
        </div>
      </section>

      <section id="aboutme">
        <h1>About Me</h1>
        <div class="par">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, maxime officia aut praesentium magni eligendi pariatur repellat soluta expedita amet omnis eos suscipit placeat cum deleniti iusto, doloribus dignissimos eius. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda velit in at ratione nihil dicta a illo quisquam ea magni omnis perferendis blanditiis quos aspernatur, quo amet laborum doloribus delectus?
          </p>
        </div>
        <div class="par-img">
          <img src="{% static 'images/coding.jpg' %}" alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos odit vero earum voluptatibus quo laudantium, voluptatem inventore velit sapiente numquam iste dicta porro? Nisi blanditiis a ratione quasi. Magni!</p>
        </div>
        <div class="par-img">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium non beatae dolor distinctio numquam consectetur aspernatur nostrum atque eveniet unde! Quidem ipsam illum quisquam saepe maxime voluptatibus accusantium cumque consequuntur.</p>
          <img src="{% static 'images/coding.jpg' %}" alt="">
        </div>
        <div class="par">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, maxime officia aut praesentium magni eligendi pariatur repellat soluta expedita amet omnis eos suscipit placeat cum deleniti iusto, doloribus dignissimos eius. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda velit in at ratione nihil dicta a illo quisquam ea magni omnis perferendis blanditiis quos aspernatur, quo amet laborum doloribus delectus?
          </p>
        </div>
      </section>

      <section id="contacts">
          <h1>Contacts</h1>


          {% include 'includes/success_message.html' %}


          <div class="contacts-wrapper">

            <div class="contacts">
              <h2>Contacts</h2>
              <table class="table">
                <tr>
                  <td>Name:</td>
                  <td>Patrik Duda</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>+420 606 275 393</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td>patrikduda94@gmail.com</td>
                </tr>
                <tr>
                  <td>Linkedin:</td>
                  <td><a href="#">view Linkedin</a></td>
                </tr>
                <tr>
                  <td>CV:</td>
                  <td><a href="#">view CV</a></td>
                </tr>
              </table>
          </div>

          <div class="contact-form">
            <h2>Contact me</h2>
            <form class="form" action="{% url 'proccess-message' %}" method="POST">
              {% csrf_token %}
              <div class="form-control">
                {{ contact_form.name.label_tag }}
                {{ contact_form.name }}
                <!-- <small class="small-name">Check message</small> -->
              </div>
              <div class="form-control">
                {{ contact_form.email.label_tag }}
                {{ contact_form.email }}
                <!-- <small class="small-email">Check message</small> -->
              </div>
              <div class="form-control">
                 {{ contact_form.message.label_tag }}
                {{ contact_form.message }}
                <!-- <small class="small-message">Check message</small> -->
              </div>
              <div class="form-control">
                <input type="submit" name="submit" value="Submit">
              </div>
              <!-- <div class="answer success">
                <p>Thank you for your message.<br> I will response you ASAP.</p>
              </div> -->
            </form>
          </div>

          </div>
      </section>

    </main>

    <footer>
       Copyright &copy;
      <span class="year"></span> 
    </footer>
  </body>
</html>
