{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'games/snake/style.css' %}" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <title>Snake Game</title>
  </head>
  <body>
    
    <div class="playboard">
      <canvas class="canvas"></canvas>
    </div>
    <h1 class="score ">Score: 0 </h1>
    <h1 class="game-over">Game Over!</h1>
    <button class="btn play-again">Play Again</button>
    <div class="top-results">
      <h2>Top 3 Results</h2>
      <ol>
        <li><span class="first">0 </span><i class="fa fa-star"></i></li>
        <li><span class="second">0 </span><i class="fa fa-star"></i></li>
        <li><span class="third">0 </span><i class="fa fa-star"></i></li>
      </ol>
    </div>

    <button class="btn btn-rules">Show Rules</button>
    <div class="rules">
      <h2>How To Play</h2>
      <p>Use ↑↓→← or WSDA keys to control the snake for collecting stars.</p>
      <p>If the snake's head touches its tail, the game will be over.</p>
      <button class="btn btn-close">Close</button>
    </div>


    <script src="{% static 'games/snake/script.js' %}"></script>
  </body>
</html>
